﻿@model KaryaManager.Models.Contact

@{
    ViewBag.Title = "Add";
}

@*<h2>Create</h2>*@

@using (Html.BeginForm("Create", "Contact", FormMethod.Post, new { id = "createContactForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Contact</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.secondary_userId, "User")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.secondary_userId, (SelectList)ViewBag.secondary_user, String.Empty)
            @Html.ValidationMessageFor(model => model.secondary_userId)
        </div>
        <p>
            <input type="submit" class="btn btn-primary" value="Add Contact" />
        </p>
    </fieldset>
}

@*<div>
    @Html.ActionLink("Back", "Index", "Workspace")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
