﻿@model IEnumerable<KaryaManager.Models.Contact>
@{
    ViewBag.Title = "Project";
}

<h2>Project</h2>
<div class="display-field">
    <table  class="table table-striped">
        <tr>
            <th>User Name</th>
            <th>Email</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User1.userName) 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User1.Email) 
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id=item.contact_id })
                </td>
            </tr>
        }
    </table>
</div>
<div>
    @Html.ActionLink("Back", "Index", "Workspace")
</div>
