﻿@model KaryaManager.Models.Project

@{
    ViewBag.Title = "Create";
}

@*<h2>Create</h2>*@

@using (Html.BeginForm("Create", "Project", FormMethod.Post, new { id = "createProjectForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Project</legend>

        @Html.HiddenFor(model => model.projectId)
        @Html.HiddenFor(model => model.ownerId)
        @Html.HiddenFor(model => model.projectStatus)


        <div class="editor-label">
            @Html.LabelFor(model => model.projectName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.projectName,  new { placeholder = "Name" } )
            @Html.ValidationMessageFor(model => model.projectName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.projectDescription)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.projectDescription, new { placeholder = "Descriptions" })
            @Html.ValidationMessageFor(model => model.projectDescription)
        </div>

        <p>
            <input type="submit" class="btn btn-primary" value="Create" />
        </p>
    </fieldset>
}

@*<div>
    @Html.ActionLink("Back", "Index", "Workspace")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
