﻿@model KaryaManager.Models.Project

@{
    ViewBag.Title = "Edit";
}

@*<h2>Edit</h2>*@

@using (Html.BeginForm("Edit", "Project", FormMethod.Post, new { id = "editProjectForm" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Project</legend>

 
        @Html.HiddenFor(model => model.projectId)
        @Html.HiddenFor(model => model.ownerId)

        
        <div class="editor-label">
            @Html.LabelFor(model => model.projectName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.projectName)
            @Html.ValidationMessageFor(model => model.projectName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.projectDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.projectDescription)
            @Html.ValidationMessageFor(model => model.projectDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.projectStatus)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.projectStatus, new SelectList(ViewBag.project_statuses))
            @Html.ValidationMessageFor(model => model.projectStatus)
        </div>

        <p>
            <input type="submit" class="btn btn-primary" value="Save" />
        </p>
    </fieldset>
}

@*<div>
    @Html.ActionLink("Back", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
