﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        @*Twitter Bootstrap {*@
        <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
        <link href="~/Content/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
        @*Twitter Bootstrap }*@

        <meta name="viewport" content="width=device-width" />
        @*@Styles.Render("~/Content/css")*@
        @Scripts.Render("~/bundles/modernizr")
        
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        <script language="JavaScript" type="text/javascript" src="~/Scripts/jquery-ui-1.10.3.custom.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="~/Scripts/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <div class="btn-group">
                             <button type="button" class="btn btn-default">Action</button>
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" role="menu">
                           @*     <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Contact</a></li>
   <li class="divider"></li>
    <li><a href="#">Separated link</a></li>*@
                                   <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
  </ul>
</div>

                      @*  <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>*@
                    </nav>
                    <div class="dropdown">
                        </div>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
            </div>

        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

    </body>
</html>
