﻿@if (Request.IsAuthenticated) {
    <div style="color:#999999;">
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </div>
} else {
    <div class="btn-toolbar">
      <div class="btn-group">
        <button class="btn" id="btnRegister">Register</button>
        <button class="btn btn-primary" id="btnLogin" type="button">Login</button>
    </div>
    </div>
        
}
<script>
    $(document).ready()
    {
        $("#btnRegister").click(function () {
            location.href = '@Url.Action("Register", "Account")';
        });
        $("#btnLogin").click(function () {
            location.href = '@Url.Action("Login", "Account")';
        });
        $("#btnLogoff").click(function () {
            document.getElementById('logoutForm').submit();
        });
    }
</script>