﻿@{
    ViewBag.Title = "Index";
}
@if (TempData["message"] != null) {
    <div class="alert alert-success">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Success!</strong> @TempData["message"]
    </div>
}
else if (TempData["error"]!=null) {
<div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
         <strong>Error!</strong> @TempData["error"]
</div>
}
<h2>Dashboard</h2>
<ul class="nav nav-tabs">
  <li>@Html.ActionLink("Workspace", "Index", "Workspace", new { id=@ViewBag.projectId }, null)</li>
  <li class="active">@Html.ActionLink("Project Dashboard", "Index", new { id=@ViewBag.projectId })</li>
  <li>@Html.ActionLink("Task Dashboard", "TaskDashboard", new { id=@ViewBag.projectId })</li>
</ul>
<div class="row-fluid">
    <div class="span9">
        @Html.Action("ProjectDashboard" , new { id = ViewBag.projectId })
        <div>
            <button class="btn btn-primary" id="btnEditProject">Edit Project</button>
            <button class="btn btn-danger" id="btnDeleteProject">Delete Project</button>
        </div>
    </div>
    <div class="span3">
        @Html.Action("Index", "ProjectUser", new { id = ViewBag.projectId })
        <div>
            <button class="btn btn-primary" id="btnAddUser">Add member</button>
        </div>
    </div>
</div>
<div id="deleteModalProject" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Delete</h3>
  </div>
  <div class="modal-body">
    <p>Once a project is deleted, all its tasks would be deleted and can't be recovered. Are you sure you want to delete the whole Project?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-danger" id="btnDeleteProjectConfirmed">Yes, I'm sure</button>
  </div>
</div>
<div id="editModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Edit Project</h3>
  </div>
  <div class="modal-body">
    @Html.Action("Edit", "Project", new { id = ViewBag.projectId })
  </div>
</div>
<div id="addUserModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Edit Project</h3>
  </div>
  <div class="modal-body">
    @Html.Action("Create", "ProjectUser", new { id = ViewBag.projectId })
  </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(document).ready()
    {
        $("#btnDeleteProjectConfirmed").click(function () {
            $("#deleteModal").modal("hide");
            location.href = '@Url.Action("DeletePrompt", "Project", new { id = ViewBag.projectId }, null)'
        });
        $("#btnAddUser").click(function () {
            @*location.href = '@Url.Action("Create", "ProjectUser", new { id = ViewBag.projectId }, null)'*@
            $("#addUserModal").modal('show');
        });
        $("#btnEditProject").click(function () {
            @*location.href = '@Url.Action("Edit", "Project", new { id = ViewBag.projectId }, null)'*@
            $("#editModal").modal('show');
        });
        $("#btnDeleteProject").click(function () {
            $("#deleteModalProject").modal('show');
        });
        $("#btnTaskDashboard").click(function () {
            location.href = '@Url.Action("TaskDashboard", new { id = ViewBag.projectId })'
        });
    }
 
</script>
