﻿@model KaryaManager.Models.Project

@{
    ViewBag.Title = "Project Dashboard";
}


<div>
<div class="span3">
    <div class="page-header">
    <h3>@Html.DisplayFor(model => model.projectName)</h3>
    
    <p>
      @Html.DisplayFor(model => model.projectDescription)
    </p>
    @if (Model.projectStatus == "Open")
    {
        <span class="label label-info ">Open</span>
    }
    else if (Model.projectStatus == "In Progress")
    {
        <span class="label label-success">In Progress</span>
    }
    else if (Model.projectStatus == "Closed")
    {
        <span class="label label-inverse">Closed</span>
    }
    else if (Model.projectStatus == "Locked")
    {
        <span class="label">Locked</span>
    }
    </div>
</div>
<div class="span9">
    <div id="chart_div" ></div>
    <div id="chart_div2"></div>
</div>
</div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>
    $(document).ready()
    {
        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var taskStatus = @Html.Raw(Json.Encode(@ViewBag.taskStatus));
            var taskPriority = @Html.Raw(Json.Encode(@ViewBag.taskPriority));
            var data = google.visualization.arrayToDataTable([
              ['Task', 'Status'],
              ['Open', taskStatus[0]],
              ['In Progress', taskStatus[1]],
              ['Closed', taskStatus[2]]
            ]);

            var options = {
                title: 'Task Status',
                pieHole: 0.4,
            };

            var data2 = google.visualization.arrayToDataTable([
              ['Task', 'Priority'],
              ['Priority 0', taskPriority[0]],
              ['Priority 1', taskPriority[1]],
              ['Priority 2', taskPriority[2]],
              ['Priority 3', taskPriority[3]],
              ['Priority 4', taskPriority[4]],
              ['Priority 5', taskPriority[5]]
            ]);

            var options2 = {
                title: 'Task Priority',
                pieHole: 0.4,
                animation: { duration: 1000,  "easing": 'out' },
            };
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
            var chart2 = new google.visualization.PieChart(document.getElementById('chart_div2'));
            chart2.draw(data2, options2);
            
            
            
            
        }
    }
 
</script>