﻿@model IEnumerable<KaryaManager.Models.Task>

@{
    ViewBag.Title = "Task Dashboard";
}

@if (TempData["message"] != null) {
    <div class="alert alert-success">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Success!</strong> @TempData["message"]
    </div>
}
else if (TempData["error"]!=null) {
<div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
         <strong>Error!</strong> @TempData["error"]
</div>
}
@if (ViewBag.projectStatus == "Locked")
{
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
         <strong>Locked!</strong> This project is locked by the owner.
    </div>
}

<h2>Task Dashboard</h2>

<ul class="nav nav-tabs">
  <li>@Html.ActionLink("Workspace", "Index", "Workspace", new { id=@ViewBag.projectId }, null)</li>
    @if (Roles.IsUserInRole(ViewBag.projectId + " Leader"))
    {
     <li>@Html.ActionLink("Project Dashboard", "Index", new { id=@ViewBag.projectId })</li>
    }
  <li class="active">@Html.ActionLink("Task Dashboard", "TaskDashboard", new { id=@ViewBag.projectId })</li>
</ul>
<table  class="table table-hover">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.taskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.assignee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.taskStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.progress)
        </th>
        <th></th>
    </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.taskName)
        </td>
        <td>
            @if (ViewBag.projectStatus == "Locked")
            {
            @Html.DisplayFor(modelItem => item.taskStatus)
            }
            else
            {
            @Html.DropDownList("userDropDown"+item.taskId, new SelectList(ViewBag.team_members, "userId", "userName", item.assignee), String.Empty, new { onChange = "userStatusChange(" + item.taskId+")" })
            }
        </td>
        <td>
            @if (ViewBag.projectStatus == "Locked")
            {
            @Html.DisplayFor(modelItem => item.taskStatus)
            }
            else
            {
            @Html.DropDownList("taskDropDown"+item.taskId, new SelectList(ViewBag.task_statuses, item.taskStatus), new {  onChange = "taskStatusChange(" + item.taskId+")" })
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.progress)
        </td>
        <td>
            @if (!(ViewBag.projectStatus == "Locked"))
            {
            <div class="btn-group" style="float:right;">
              <a class="btn btn-info dropdown-toggle" , data-toggle="dropdown" href="#">
                Action
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li> @Html.ActionLink("Edit", "Edit", "Task", new { id=item.taskId  }, null)</li>
                <li> <a href="#" OnClick="deleteTask(@item.taskId);" >Delete</a></li>
              </ul>
            </div>
            }
        </td>
    </tr>
}
     <tr>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td>
             @if (!(ViewBag.projectStatus == "Locked"))
             {
                 <div style="float:right;">
                    <button class="btn btn-info" id="btnCreateTask"><i class="icon-plus icon-white"></i></button>
                </div>
             }
        </td>
     </tr>
</table>

<div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Delete</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this task?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary" id="btnDeleteTask">Confirm</button>
  </div>
</div>
<div id="addTaskModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Add Task</h3>
  </div>
  <div class="modal-body">
    @Html.Action("Create", "Task", new { id = ViewBag.projectId })
  </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(document).ready()
    {
        var deleteLinkObj;
        $("#btnCreateTask").click(function () {
            @*location.href = '@Url.Action("Create", "Task", new { id = @ViewBag.projectId })'*@
            $("#addTaskModal").modal('show');
        });
        $("#btnProjectDashboard").click(function () {
            location.href = '@Url.Action("Index", new { id = @ViewBag.projectId })'
        });
        function deleteTask(id) {
            deleteLinkObj = id;
            $("#deleteModal").modal('show');
        };
        function taskStatusChange(id) {
            var strSelected = "";
            $("#taskDropDown" + id + " option:selected").each(function () {
                strSelected += $(this)[0].value;
            });
            var url = "/Task/UpdateStatus?status=" + strSelected + "&taskId=" + id;
            $.post(url, function (data) {
            });
        };
        function userStatusChange(taskId) {
            var strSelected = "";
            $("#userDropDown" + taskId +  " option:selected").each(function () {
                strSelected += $(this)[0].value;
            });
            var url = "/Task/UpdateUser?assignee=" + strSelected + "&taskId=" + taskId;
            $.post(url, function (data) {});
        };
        $("#btnDeleteTask").click(function () {
            deleteLinkObj
            $("#deleteModal").modal("hide");
            var href = '@Url.Action("Delete", "Task", new { id = "_Id" })'.replace("_Id", deleteLinkObj);
            location.href = href;
        });
    }
</script>
