﻿@model KaryaManager.Models.Task

@{
    ViewBag.Title = "Create";
}

@*<h2>Create</h2>*@

@using (Html.BeginForm(Html.BeginForm("Create", "Task", FormMethod.Post, new { id = "createTaskForm" })))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Task</legend>

        @Html.HiddenFor(model => model.taskId)
        @Html.HiddenFor(model => model.projectId)

        <div class="editor-label">
            @Html.LabelFor(model => model.taskName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.taskName, new { placeholder = "Name" })
            @Html.ValidationMessageFor(model => model.taskName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.taskStatus)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.taskStatus, new SelectList(ViewBag.task_statuses))
            @Html.ValidationMessageFor(model => model.taskStatus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.taskDescription)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.taskDescription, new { placeholder = "Description" })
            @Html.ValidationMessageFor(model => model.taskDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.assignee, "User")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.assignee, (SelectList)ViewBag.assignee, String.Empty)
            @*@Html.DropDownList("assignee", String.Empty)*@
            @Html.ValidationMessageFor(model => model.assignee)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.start_date)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.start_date, new { @class = "datepicker", Value = Model.start_date.ToString() })
            @Html.ValidationMessageFor(model => model.start_date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.estimate_hour)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.estimate_hour, new { placeholder = "e.g. 5 for 5 hours estimated" })
            @Html.ValidationMessageFor(model => model.estimate_hour)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.worked_hour)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.worked_hour, new { placeholder = "e.g. 5 for 5 hours worked" })
            @Html.ValidationMessageFor(model => model.worked_hour)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.priority)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.priority, new { placeholder = "0 - 5" })
            @Html.ValidationMessageFor(model => model.priority)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.progress)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.progress, new { placeholder = "Progress value, 0 to 100" })
            @Html.ValidationMessageFor(model => model.progress)
        </div>
        <p>
            <input type="submit" class="btn btn-primary" value="Create" />
        </p>
    </fieldset>
}
@*<div>
    @Html.ActionLink("Back", "TaskDashboard", "Dashboard", new { id = Model.projectId }, null)
</div>*@
<script>
    $(document).ready(function () {
        $('.datepicker').datepicker({});
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
