﻿@model KaryaManager.Models.Task

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Task</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.taskName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.taskName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.taskStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.taskStatus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.taskDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.taskDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.userName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.userName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.start_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.start_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estimate_hour)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estimate_hour)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.worked_hour)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.worked_hour)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.priority)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.priority)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.progress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.progress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Project.projectName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Project.projectName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "TaskDashboard", "Dashboard", new { id = Model.projectId }, null)
    </p>
}
