﻿@model KaryaManager.Models.Task

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Task</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.taskName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.taskName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.taskStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.taskStatus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.taskDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.taskDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.userName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.userName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.start_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.start_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estimate_hour)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estimate_hour)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.worked_hour)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.worked_hour)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.priority)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.priority)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.progress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.progress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Project.projectName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Project.projectName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.taskId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
