﻿@model KaryaManager.Models.Task

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Task</legend>

        @Html.HiddenFor(model => model.taskId)
        @Html.HiddenFor(model => model.projectId)

        <div class="editor-label">
            @Html.LabelFor(model => model.taskName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.taskName)
            @Html.ValidationMessageFor(model => model.taskName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.taskStatus)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.taskStatus, new SelectList(ViewBag.task_statuses))
            @Html.ValidationMessageFor(model => model.taskStatus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.taskDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.taskDescription)
            @Html.ValidationMessageFor(model => model.taskDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.assignee, "Assignee")
        </div>
        <div class="editor-field">
            @Html.DropDownList("assignee", String.Empty)
            @Html.ValidationMessageFor(model => model.assignee)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.start_date)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.start_date, new { @class = "datepicker", Value = Model.start_date.ToString() })
            @Html.ValidationMessageFor(model => model.start_date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.estimate_hour)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.estimate_hour)
            @Html.ValidationMessageFor(model => model.estimate_hour)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.worked_hour)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.worked_hour)
            @Html.ValidationMessageFor(model => model.worked_hour)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.priority)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.priority)
            @Html.ValidationMessageFor(model => model.priority)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.progress)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.progress, new { @type = "range", min = 0, max = 100 })
            @Html.ValidationMessageFor(model => model.progress)
        </div>

        <p></p>
        <p>
            <input type="submit" class="btn btn-primary" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back", "TaskDashboard", "Dashboard", new { id = Model.projectId }, null)
</div>
<script>
    $(document).ready(function () {
        $('.datepicker').datepicker({});
    });
    
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
