﻿@model IEnumerable<KaryaManager.Models.Task>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table  class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.taskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.taskStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.taskDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.start_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estimate_hour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.worked_hour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.progress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.projectName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.taskName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.taskStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.taskDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.start_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estimate_hour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.worked_hour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.progress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.projectName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.taskId }) |
            @Html.ActionLink("Details", "Details", new { id=item.taskId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.taskId })
        </td>
    </tr>
}

</table>
