﻿@model IEnumerable<KaryaManager.Models.Contact>
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>
<div class="display-field">
    <table  class="table table-striped">
        <thead>
        <tr>
            <th>User Name</th>
            <th>Email address</th>
        </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User1.userName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User1.Email)
                </td>
            </tr>
        }
    </table>
</div>