﻿@{
    ViewBag.Title = "Index";
}
@if (TempData["message"] != null) {
    <div class="alert alert-success">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Success!</strong> @TempData["message"]
    </div>
}
else if (TempData["error"]!=null) {
<div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
         <strong>Error!</strong> @TempData["error"]
</div>
}
<h2>Workspace</h2>
<h2>@ViewBag.Message</h2>
<div class="bs-docs-example">
    <ul class="nav nav-pills">
         <li class="active"><a href="#Project" data-toggle="tab">My Projects</a></li>
         <li><a href="#TeamProject" data-toggle="tab">Team Projects</a></li>
         <li><a href="#Contact" data-toggle="tab">Contacts</a></li>
    </ul>
</div>
<hr>
<div class="tab-content">
  <div class="tab-pane active fade in" id="Project">@Html.Action("Project", "Workspace")
      <button class="btn btn-primary" id="btnCreate">Create New Project</button>
  </div>
  <div class="tab-pane fade" id="TeamProject">@Html.Action("TeamProject", "Workspace")</div>
  <div class="tab-pane fade" id="Contact">@Html.Action("Contact", "Workspace")
      <button class="btn btn-primary" id="btnAddContact">Add Contact</button>
      <button class="btn" id="btnEditContact">Edit Contacts</button>
  </div>
</div>
<div id="createModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Create Project</h3>
  </div>
  <div class="modal-body">
    @{Html.RenderAction("Create", "Project");}
  </div>
</div>
<div id="createContactModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Add Contact</h3>
  </div>
  <div class="modal-body">
    @{Html.RenderAction("Create", "Contact");}
  </div>
</div>
<div id="modal"></div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(document).ready()
    {
        $("#btnCreate").click(function () {
            //location.href = '@Url.Action("Create", "Project")'
            //$('#project-dialog').dialog('open');
            $('#createModal').modal('show');
        });
        $("#btnAddContact").click(function () {
            @*location.href = '@Url.Action("Create", "Contact")'*@
            $('#createContactModal').modal('show');
        });
        $("#btnEditContact").click(function () {
            location.href = '@Url.Action("Index", "Contact")'
        });
    }
 
</script>