﻿@model IEnumerable<KaryaManager.Models.Project>
@{
    ViewBag.Title = "Project";
}

<h2>My Projects</h2>
<div class="display-field">
       <div class="main">
            <ul class="cbp_tmtimeline">
                @foreach (var item in Model)
                {
                <li>
                    <time class="cbp_tmtime" >   @Html.DisplayFor(modelItem => item.projectStatus)</time>
                    <div class="cbp_tmicon cbp_tmicon-phone"></div>
                        <div class="cbp_tmlabel">
                            <h2> @Html.ActionLink(item.projectName, "Index", "Dashboard", new { id=item.projectId }, null)  </h2>
                                <p>
                                @Html.DisplayFor(modelItem => item.projectDescription)
                                </p>
                        </div>
                </li>
                }
            </ul>
       </div>
    @*<table class="table table-striped">

        <thead>
        
        <tr>
            <th>Project</th>
            <th>Status</th>
            <th>Description</th>
        </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.projectName, "Index", "Dashboard", new { id=item.projectId }, null) 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.projectStatus) 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.projectDescription)
                </td>
            </tr>
        }
    </table>*@
</div>
