﻿@{
    ViewBag.Title = "Karya Manager";
}
@*
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Currently there is nothing in here to see! To access the cloud stored web page, visit 
                <a href="http://karyamanager.azurewebsites.net/" title="Karya Manager">Our test page</a>.
            </p>
        </div>
    </section>
}

<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>First Name</th>
    </tr>
    <tbody>
        <tr>
        <td>Testing</td>
            </tr>
     </tbody>
</table>*@

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="../favicon.ico"> 
      
    <link href="~/Content/gui/css/component.css" rel="stylesheet" />
    <link href="~/Content/gui/css/default.css" rel="stylesheet" />
    <script src="~/Scripts/gui/js/modernizr.custom.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="codrops-top clearfix">
        <span class="codrops-icon codrops-icon-prev">@Html.ActionLink("Home", "Index", "Home")</span>
        <span class="codrops-icon codrops-icon-drop right">@Html.ActionLink("Get Started", "Index", "Workspace")</span>
      </div>
      <header>
        <h1>@ViewBag.Title<span>@ViewBag.Message</span></h1>  
      </header>
      <div class="ip-slideshow-wrapper">
        <nav>
          <span class="ip-nav-left"></span>
          <span class="ip-nav-right"></span>
        </nav>
        <div class="ip-slideshow"></div>
      </div>
      <header>
        <h1></h1>  
      </header>
      <div class="codrops-top clearfix">
          @**@
      </div>
      
    </div>
    
    <script src="~/Scripts/gui/js/particlesSlideshow.js"></script>
  </body>
</html>
