﻿@model KaryaManager.Models.Project_user

@{
    ViewBag.Title = "Create";
}

@*<h2>Create</h2>*@

@using (Html.BeginForm("Create", "ProjectUser", FormMethod.Post, new { id = "createProjectUserForm"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Team Member</legend>
        @Html.HiddenFor(model => model.projectId)
        <div class="editor-label">
            @Html.LabelFor(model => model.userId, "User")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.userId, (SelectList)ViewBag.userId, String.Empty)
            @*@Html.DropDownList("userId", String.Empty)*@
            @Html.ValidationMessageFor(model => model.userId)
        </div>

        <p>
            <input type="submit" class="btn btn-primary" value="Add" />
        </p>
    </fieldset>
}

@*<div>
    @Html.ActionLink("Back", "Index", "Dashboard", new { id = Model.projectId }, null)
</div>*@


