﻿@model KaryaManager.Models.Project_user

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Project_user</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Project.projectName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Project.projectName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.userName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.userName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.project_userId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
