﻿@model KaryaManager.Models.Project_user

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Project_user</legend>

        @Html.HiddenFor(model => model.project_userId)

        <div class="editor-label">
            @Html.LabelFor(model => model.projectId, "Project")
        </div>
        <div class="editor-field">
            @Html.DropDownList("projectId", String.Empty)
            @Html.ValidationMessageFor(model => model.projectId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.userId, "User")
        </div>
        <div class="editor-field">
            @Html.DropDownList("userId", String.Empty)
            @Html.ValidationMessageFor(model => model.userId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
