﻿@model IEnumerable<KaryaManager.Models.Project_user>

@{
    ViewBag.Title = "Index";
}

<h2>Team members</h2>

<table  class="table table-striped">
    <tr>
        <th>
            User Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            <a href="#" OnClick="deleteTask(@item.project_userId);" >Delete</a>
        </td>
    </tr>
}

</table>
<div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Remove user</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to remove this user from the team?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary" id="btnDeleteUser">Confirm</button>
  </div>
</div>
<script>
    $(document).ready()
    {
        var deleteLinkObj;
        function deleteTask(id) {
            deleteLinkObj = id;
            $("#deleteModal").modal('show');
        }
        $("#btnDeleteUser").click(function () {
            deleteLinkObj
            $("#deleteModal").modal("hide");
            var href = '@Url.Action("Delete", "ProjectUser", new { id = "_Id" })'.replace("_Id", deleteLinkObj);
            location.href = href;
        });
    }
</script>
